body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f9;
}

header {
    background-color: #111827;
    color: white;
    text-align: center;
    padding: 40px;
}

section {
    max-width: 900px;
    margin: auto;
    padding: 30px;
}

.questao {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.05);
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 12px 25px;
    background-color: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #1d4ed8;
}

.resultado {
    margin-top: 8px;
    font-weight: bold;
}

.correto {
    color: green;
}

.errado {
    color: red;
}

.nota {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

footer {
    background-color: #111827;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

hr {
    margin: 40px 0;
}